<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>Courses</title>
</head>
  <style type="text/css">

    .container {
        position: relative;
        text-align: center;
        background-color: #fff
    }
    .container:before {
        content: "";
        position: relative;
        display: inline-block;
        width: 0; height: 100%;
        vertical-align: middle;
    }
    .container-fluid {
        display: inline-block;
        vertical-align: middle;
    }
    .panel-body {
        text-align: left;
    }
    form {
        text-align: left;
    }
  </style>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Hello, <strong> coding dojo master </strong>!</h1>
            <p class="lead">Please enter the following information below:</p>
            <hr class="m-y-2">
            </p>
        </div>
<!--         <div class="container-fluid"> -->
        <form action='/courses/add' method='POST'>
          <div class="form-group">
            <label for="title">Course Name:</label>
            <input type="title" class="form-control" name="title" aria-describedby="title" placeholder="Enter course name">
            <small id="title" class="form-text text-muted">Make it good.</small>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" name="description" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!--         </div> -->
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {% with errors = get_flashed_messages(category_filter=['error']) %}
                {% if errors %}
                    {% for error in errors %}
                        <p> {{ error }} </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="alert alert-info" role="alert">
            <strong>Add Courses!</strong> Add courses for your fellow ninjas that actually make sense.
            <div class = "panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                            <th>#</th>
                            <th>Course Name</th>
                            <th>Description</th>
                            <th>Date Added</th>
                            <th>Modify</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for course in session['data'] %}
                            <tr>
                            <th scope="row">{{ course['id'] }}</th>
                            <td>{{ course['title'] }}</td>
                            <td>{{ course['description'] }}</td>
                            <td>{{ course['created_at'] }}</td>
                        <form action="/courses/show/{{ course['id'] }}" method='GET'>
                            <td><input type='submit' value='Modify'></td>
                        </form>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="alert alert-info" role="alert">
            <strong>Thanks for submitting new courses!</strong>
        </div>
    </div>
</body>
</html>    